image: xw-ci:alpine

variables:
 ACCOUNT_PACKAGE_NAME: 'account-web'
 ACCOUNT_PORT: 9002
 WORK_PACKAGE_NAME: 'work-system'
 WORK_PORT: 9003
 WECHAT_PACKAGE_NAME: 'wechat'
 WECHAT_PORT: 9004

stages:
 - run_work
 - run_account
 - run_wechat

 - release_work
 - release_account
 - release_wechat

run_work:
 stage: run_work
 only:
   - master
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
   - cd $WORK_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WORK_PACKAGE_NAME && docker kill $WORK_PACKAGE_NAME
   - docker ps -a |grep $WORK_PACKAGE_NAME && docker rm $WORK_PACKAGE_NAME
   - docker run -d -p $WORK_PORT:$WORK_PORT --name $WORK_PACKAGE_NAME $WORK_PACKAGE_NAME
 tags:
   - dev

run_account:
 stage: run_account
 only:
   - master
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
   - cd $ACCOUNT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $ACCOUNT_PACKAGE_NAME && docker kill $ACCOUNT_PACKAGE_NAME
   - docker ps -a|grep $ACCOUNT_PACKAGE_NAME && docker rm $ACCOUNT_PACKAGE_NAME
   - docker run -d -p $ACCOUNT_PORT:$ACCOUNT_PORT --name $ACCOUNT_PACKAGE_NAME $ACCOUNT_PACKAGE_NAME
 tags:
   - dev

run_wechat:
 stage: run_wechat
 only:
   - master
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
   - cd $WECHAT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WECHAT_PACKAGE_NAME && docker kill $WECHAT_PACKAGE_NAME
   - docker ps -a|grep $WECHAT_PACKAGE_NAME && docker rm $WECHAT_PACKAGE_NAME
   - docker run -d -p $WECHAT_PORT:$WECHAT_PORT --name $WECHAT_PACKAGE_NAME $WECHAT_PACKAGE_NAME
 tags:
   - dev

# 以下是自动部署到阿里云，仅仅在部署分支release生效

release_work:
 stage: release_work
 only:
   - release
 script:
   - mvn  -Dmaven.test.skip=true -P release clean package
   - cd $WORK_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WORK_PACKAGE_NAME && docker kill $WORK_PACKAGE_NAME
   - docker ps -a |grep $WORK_PACKAGE_NAME && docker rm $WORK_PACKAGE_NAME
   - docker run -d -p $WORK_PORT:$WORK_PORT --name $WORK_PACKAGE_NAME $WORK_PACKAGE_NAME
 tags:
   - aliyun

release_account:
 stage: release_account
 only:
   - release
 script:
   - mvn  -Dmaven.test.skip=true -P release clean package
   - cd $ACCOUNT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $ACCOUNT_PACKAGE_NAME && docker kill $ACCOUNT_PACKAGE_NAME
   - docker ps -a|grep $ACCOUNT_PACKAGE_NAME && docker rm $ACCOUNT_PACKAGE_NAME
   - docker run -d -p $ACCOUNT_PORT:$ACCOUNT_PORT --name $ACCOUNT_PACKAGE_NAME $ACCOUNT_PACKAGE_NAME
 tags:
   - aliyun

release_wechat:
 stage: release_wechat
 only:
   - release
 script:
   - mvn  -Dmaven.test.skip=true -P release clean package
   - cd $WECHAT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WECHAT_PACKAGE_NAME && docker kill $WECHAT_PACKAGE_NAME
   - docker ps -a|grep $WECHAT_PACKAGE_NAME && docker rm $WECHAT_PACKAGE_NAME
   - docker run -d -p $WECHAT_PORT:$WECHAT_PORT --name $WECHAT_PACKAGE_NAME $WECHAT_PACKAGE_NAME
 tags:
   - aliyun