image: xw-ci:alpine

variables:
 ACCOUNT_PACKAGE_NAME: 'account-web'
 ACCOUNT_PORT: 9002
 WORK_PACKAGE_NAME: 'work-system'
 WORK_PORT: 9003

cache:
  paths:
    - ./

stages:
 - package
 - run_account
 - run_work

package:
 stage: package
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
 tags:
   - docker

run_account:
 stage: run_account
 script:
   - cd $ACCOUNT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $ACCOUNT_PACKAGE_NAME && docker kill $ACCOUNT_PACKAGE_NAME
   - docker ps -a|grep $ACCOUNT_PACKAGE_NAME && docker rm $ACCOUNT_PACKAGE_NAME
   - docker run -d -p $ACCOUNT_PORT:$ACCOUNT_PORT --name $ACCOUNT_PACKAGE_NAME $ACCOUNT_PACKAGE_NAME
 tags:
   - docker

run_work:
 stage: run_work
 script:
   - cd $WORK_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WORK_PACKAGE_NAME && docker kill $WORK_PACKAGE_NAME
   - docker ps -a |grep $WORK_PACKAGE_NAME && docker rm $WORK_PACKAGE_NAME
   - docker run -d -p $WORK_PORT:$WORK_PORT --name $WORK_PACKAGE_NAME $WORK_PACKAGE_NAME
 tags:
   - docker