image: xw-ci:alpine

variables:
 ACCOUNT_PACKAGE_NAME: 'account-web'
 ACCOUNT_PORT: 9002
 WORK_PACKAGE_NAME: 'work-system'
 WORK_PORT: 9003
 WECHAT_PACKAGE_NAME: 'wechat'
 WECHAT_PORT: 9004
 ATTENDANCE_PACKAGE_NAME: 'attendance'
 ATTENDANCE_PORT: 9005
 EXPENSE_PACKAGE_NAME: 'expense-reimbursement-web'
 EXPENSE_PORT: 9006

stages:
 - run_work
 - run_account
 - run_wechat
# - run_attendance
 - run_expense

 - release_work
 - release_account
 - release_wechat
# - release_attendance
 - release_expense

run_work:
 stage: run_work
 only:
   - master
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
   - cd $WORK_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WORK_PACKAGE_NAME && docker kill $WORK_PACKAGE_NAME
   - docker ps -a |grep $WORK_PACKAGE_NAME && docker rm $WORK_PACKAGE_NAME
   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -v /root/upload:/root/upload -p $WORK_PORT:$WORK_PORT --name $WORK_PACKAGE_NAME $WORK_PACKAGE_NAME
 tags:
   - dev

run_account:
 stage: run_account
 only:
   - master
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
   - cd $ACCOUNT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $ACCOUNT_PACKAGE_NAME && docker kill $ACCOUNT_PACKAGE_NAME
   - docker ps -a|grep $ACCOUNT_PACKAGE_NAME && docker rm $ACCOUNT_PACKAGE_NAME
   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -p $ACCOUNT_PORT:$ACCOUNT_PORT --name $ACCOUNT_PACKAGE_NAME $ACCOUNT_PACKAGE_NAME
 tags:
   - dev

run_wechat:
 stage: run_wechat
 only:
   - master
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
   - cd $WECHAT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WECHAT_PACKAGE_NAME && docker kill $WECHAT_PACKAGE_NAME
   - docker ps -a|grep $WECHAT_PACKAGE_NAME && docker rm $WECHAT_PACKAGE_NAME
   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -p $WECHAT_PORT:$WECHAT_PORT --name $WECHAT_PACKAGE_NAME $WECHAT_PACKAGE_NAME
 tags:
   - dev

#run_attendance:
# stage: run_attendance
# only:
#   - master
# script:
#   - mvn  -Dmaven.test.skip=true -P dev clean package
#   - cd attendance-system && mvn -Dmaven.test.skip=true docker:build
#   - docker ps |grep $ATTENDANCE_PACKAGE_NAME && docker kill $ATTENDANCE_PACKAGE_NAME
#   - docker ps -a|grep $ATTENDANCE_PACKAGE_NAME && docker rm $ATTENDANCE_PACKAGE_NAME
#   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -p $ATTENDANCE_PORT:$ATTENDANCE_PORT --name $ATTENDANCE_PACKAGE_NAME $ATTENDANCE_PACKAGE_NAME
# tags:
#   - dev

run_expense:
 stage: run_expense
 only:
   - master
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
   - cd expense-reimbursement-web && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $EXPENSE_PACKAGE_NAME && docker kill $EXPENSE_PACKAGE_NAME
   - docker ps -a|grep $EXPENSE_PACKAGE_NAME && docker rm $EXPENSE_PACKAGE_NAME
   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -p $EXPENSE_PORT:$EXPENSE_PORT --name $EXPENSE_PACKAGE_NAME $EXPENSE_PACKAGE_NAME
 tags:
   - dev


# 以下是自动部署到阿里云，仅仅在部署分支release生效

release_work:
 stage: release_work
 only:
   - release
 script:
   - mvn  -Dmaven.test.skip=true -P release clean package
   - cd $WORK_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WORK_PACKAGE_NAME && docker kill $WORK_PACKAGE_NAME
   - docker ps -a |grep $WORK_PACKAGE_NAME && docker rm $WORK_PACKAGE_NAME
   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -v /root/upload:/root/upload -p $WORK_PORT:$WORK_PORT --name $WORK_PACKAGE_NAME $WORK_PACKAGE_NAME
 tags:
   - aliyun

release_account:
 stage: release_account
 only:
   - release
 script:
   - mvn  -Dmaven.test.skip=true -P release clean package
   - cd $ACCOUNT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $ACCOUNT_PACKAGE_NAME && docker kill $ACCOUNT_PACKAGE_NAME
   - docker ps -a|grep $ACCOUNT_PACKAGE_NAME && docker rm $ACCOUNT_PACKAGE_NAME
   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -p $ACCOUNT_PORT:$ACCOUNT_PORT --name $ACCOUNT_PACKAGE_NAME $ACCOUNT_PACKAGE_NAME
 tags:
   - aliyun

release_wechat:
 stage: release_wechat
 only:
   - release
 script:
   - mvn  -Dmaven.test.skip=true -P release clean package
   - cd $WECHAT_PACKAGE_NAME && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $WECHAT_PACKAGE_NAME && docker kill $WECHAT_PACKAGE_NAME
   - docker ps -a|grep $WECHAT_PACKAGE_NAME && docker rm $WECHAT_PACKAGE_NAME
   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -p $WECHAT_PORT:$WECHAT_PORT --name $WECHAT_PACKAGE_NAME $WECHAT_PACKAGE_NAME
 tags:
   - aliyun

#release_attendance:
# stage: release_attendance
# only:
#   - release
# script:
#   - mvn  -Dmaven.test.skip=true -P release clean package
#   - cd attendance-system && mvn -Dmaven.test.skip=true docker:build
#   - docker ps |grep $ATTENDANCE_PACKAGE_NAME && docker kill $ATTENDANCE_PACKAGE_NAME
#   - docker ps -a|grep $ATTENDANCE_PACKAGE_NAME && docker rm $ATTENDANCE_PACKAGE_NAME
#   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -p $ATTENDANCE_PORT:$ATTENDANCE_PORT --name $ATTENDANCE_PACKAGE_NAME $ATTENDANCE_PACKAGE_NAME
# tags:
#   - aliyun

release_expense:
 stage: release_expense
 only:
   - release
 script:
   - mvn  -Dmaven.test.skip=true -P dev clean package
   - cd expense-reimbursement-web && mvn -Dmaven.test.skip=true docker:build
   - docker ps |grep $EXPENSE_PACKAGE_NAME && docker kill $EXPENSE_PACKAGE_NAME
   - docker ps -a|grep $EXPENSE_PACKAGE_NAME && docker rm $EXPENSE_PACKAGE_NAME
   - docker run -d -v /etc/localtime:/etc/localtime:ro -v /etc/timezone:/etc/timezone:ro -p $EXPENSE_PORT:$EXPENSE_PORT --name $EXPENSE_PACKAGE_NAME $EXPENSE_PACKAGE_NAME
 tags:
   - aliyun