<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="FLUENTD_PORT" value="${FLUENTD_PORT:-24224}"/>
    <property name="FLUENTD_PORT" value="${FLUENTD_PORT:-24224}"/>
    <springProperty scope="context" name="TAG" source="server.servlet.context-path"/>
    <springProperty scope="context" name="SPRING_FLUENTD_HOST" source="spring.fluentd.host"/>
    <springProperty scope="context" name="REDIS_HOST" source="spring.redis.host"/>
    <springProperty scope="context" name="RABBITMQ_HOST" source="spring.rabbitmq.host"/>
    <!--首先尝试从配置中取fluentd的服务地址，否则取redis或rabbitmq的地址，若都没有配置，就取localhost地址-->
    <property name="FLUENTD_HOST" value="${SPRING_FLUENTD_HOST:-${REDIS_HOST:-${RABBITMQ_HOST:-${DOCKER_HOST:-localhost}}}}"/>
    <appender name="FLUENT" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <tag>${TAG}</tag>
        <label>normal</label>
        <remoteHost>${FLUENTD_HOST}</remoteHost>
        <port>${FLUENTD_PORT}</port>
    </appender>

    <logger name="com.xiaowei" level="DEBUG" />
    <root level="INFO">
        <appender-ref ref="FLUENT"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>