profiles:  dev_environment
server:
  host: http://gongdan.xwseries.com
  pre:
    # 前端用户页面主页地址，在自动登陆后跳转
    index: /catalog
    # 前端绑定地址
    bind: /common/bindPhone
  port: 9004
  servlet:
    context-path: /wechat
spring:
  datasource:
    url: @datasource.url@
    username: @datasource.username@
    password: @datasource.password@
    driver-class-name: org.postgresql.Driver
  application:
    name: data-server
  jpa:
    generate-ddl: true
    properties:
      format_sql: true
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
  redis:
    host: @redis.url@
    port: 6379
  rabbitmq:
    host: @rabbitmq.host@
    port: @rabbitmq.port@
    username: @rabbitmq.username@
    password: @rabbitmq.password@
    publisher-confirms: true
    virtual-host: /
logging:
  level:
    com:
      yulintu: DEBUG
wechat:
  config:
    appId: wx319e805e2640bbf2
    secret: fd3ea4f364a0da910b2bab3af07c8d28
    token: md4YoeT4mVRQN2Rd244IOdQzqyDS4us2
    aesKey: e2eoR3JqjQn429S2oruZJ2NVvIIoTlEtCLnCILCMsS4

