profiles:  dev_environment
server:
  host: @server.host@
  pre:
    # 前端用户页面主页地址，在自动登陆后跳转
    index: /xwkx-web/
    # 前端绑定地址
    bind: /xwkx-web/common/bindPhone
  port: 9004
  servlet:
    context-path: /wechat
spring:
  datasource:
    url: @datasource.url@
    username: @datasource.username@
    password: @datasource.password@
    driver-class-name: org.postgresql.Driver
  application:
    name: data-server
  jpa:
    generate-ddl: true
    properties:
      format_sql: true
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
  redis:
    host: @redis.url@
    port: 6379
  fluentd:
    host: @fluentd.url@
    port: @fluentd.port@
    lable: @lable@
  rabbitmq:
    host: @rabbitmq.host@
    port: @rabbitmq.port@
    username: @rabbitmq.username@
    password: @rabbitmq.password@
    publisher-confirms: true
    virtual-host: @rabbitmq.virtual.host@
logging:
  level:
    com:
      yulintu: DEBUG
wechat:
  config:
    appId: @wechat.appId@
    secret: @wechat.secret@
    token: @wechat.token@
    aesKey: @wechat.aesKey@
    notifyUrl: /wechat/pay/back
    mchId:  1492859472
    mchKey: Xwkx2018A2019a2020a2021a2022Xwkj
    keyPath: classpath:/apiclient_cert.p12
upload:
  path: @upload.path@ #将此路径用iis配置发布
  type: local
  accessUrlRoot: @upload.accessUrlRoot@
  tags:
    - idCard #身份证
    - prove #证明
    - contract #合同
    - logo #头像