profiles:  dev_environment
server:
  host: @server.host@
  pre:
    # 前端用户页面主页地址，在自动登陆后跳转
    index: /xwkx-web/catalog
    # 前端绑定地址
    bind: /xwkx-web/common/bindPhone
  port: 9004
  servlet:
    context-path: /wechat
spring:
  datasource:
    url: @datasource.url@
    username: @datasource.username@
    password: @datasource.password@
    driver-class-name: org.postgresql.Driver
  application:
    name: data-server
  jpa:
    generate-ddl: true
    properties:
      format_sql: true
      hibernate:
        temp:
          use_jdbc_metadata_defaults: false
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.spatial.dialect.postgis.PostgisPG95Dialect
  redis:
    host: @redis.url@
    port: 6379
  rabbitmq:
    host: @rabbitmq.host@
    port: @rabbitmq.port@
    username: @rabbitmq.username@
    password: @rabbitmq.password@
    publisher-confirms: true
    virtual-host: @rabbitmq.virtual.host@
logging:
  level:
    com:
      yulintu: DEBUG
wechat:
  config:
    appId: @wechat.appId@
    secret: @wechat.secret@
    token: @wechat.token@
    aesKey: @wechat.aesKey@

